html {
    scroll-behavior: smooth;
}

.container-cours {
    width: 80%;
    float: left;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

/*
.container-table {
    width: 30%;
    float: right;
}
*/

.table-des-matiere {
    display: flex;
    justify-content: center;
    position: fixed;
    width: auto;
    right: 0;
    border-radius: 5px;
    text-align: center;
    margin-bottom: -3rem;
    border-left: solid 1px;
}
.table-des-matiere a {
    text-decoration: none;
    font-size: 10px;
    transition: .5s;
    color: antiquewhite;
    float: left;
    padding: 0 20px; 
}
.table-des-matiere a:hover {
    background: #3cf4cc;
    color: aliceblue;
    font-size:13px;
}
.container{
    float: left;
}
.logo_donneur_ordre {
    margin-top: 2rem;
    
}

.table-des-matiere {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .table-des-matiere a {
    margin-bottom: 10px;
  }
  
  .logo_donneur_ordre {
    margin-right: 10px;
  }
  
  .logo_partenaires {
    margin-right: 10px;
  }



@media screen and (max-width: 920px) {
    .table-des-matiere {
        display: none;
    }
    .table-des-matiere {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}