html {
    scroll-behavior: smooth;
}
.nav {
    display: flex;
    justify-content: center;
    position: fixed;
    width: auto;
    right: 0;
    border-radius: 5px;
    text-align: center;
    margin-bottom: -3rem;
    border-left: solid 1px;
    
    
}
nav a {
    text-decoration: none;
    font-size: 10px;
    transition: .5s;
    color: antiquewhite;
    float: left;
    padding: 0 20px; 
}
nav a:hover {
    background: #3cf4cc;
    color: aliceblue;
    font-size:13px;
}
.container{
    float: left;
}
.logo_donneur_ordre {
    margin-top: 2rem;
    
}
