.card-img-top {
    width: 110px;
    display: flex;
    justify-content: center;
}
a {
    text-decoration: none;
    color: black;
}
  
  .tilt {
    transform-style: preserve-3d;
    perspective: 1000px;
    text-align: center;
  }
  
 .Card.Img {
    width: auto;
    transform: translateZ(100px);
    background: #fff;
  }
  
  .Card.Body {
    background-color: #fff;
  }
  
  Card.Title {
    text-align: center;
    transform: translateZ(100px);
    background-color: #fff;
    color: #212121;
  }
  
  .card-text {
    transform: translateZ(100px);
    background: #fff;
    color: #212121;
  }
  
  .text-muted {
    background: #fff;
  }
  .card {
    width: 18rem;
  }