.container-cours {
    width: 80%;
    float: left;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}
.container-cours p{
    font-size: 2rem;
}
.table-des-matieres{
    display: flex;
    justify-content: center;
    position: fixed;
    width: auto;
    right: 0;
    border-radius: 1px;
    text-align: center;
    margin-bottom: 3rem;
    border-left: solid 1px;
}
.table-des-matieres a{
    margin-bottom: 1rem;
    margin-right: 1rem;
    text-decoration: none;
}
.logo_donneur_ordre{
    margin-right: 1rem;
}
.logo_partenaires{
    margin-right: 1rem;
}
