* {
  background: #282c34;
  color: antiquewhite;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  background: aliceblue;
}

.tilt {
  transform-style: preserve-3d;
  perspective: 1000px;
}

.card img {
  width: 64px;
  transform: translateZ(70px);
}

.card-title {
  transform: translateZ(50px);
}

.card-text {
  transform: translateZ(50px);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
   
   
}

pre {
  background-color: #212121;
  margin-right: 310px;
  border-radius: 5px;
  padding: 10px;

}

code kbd {
  color:rgb(214, 223, 230);
  background: #212121;
 
}
span{ 
  color: rgb(218, 234, 234);
  background: #212121;
}

.img-navigateur{
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  border-radius: 5px;
  display: block;
  width: 50%;
  margin: auto;
}
