* {
  background: #282c34;
  color: antiquewhite;
  font-size: 20px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    background-color: #212121;
    
}

pre {
  background-color: #212121;
  margin-right: 310px;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 1rem;

}

code kbd {
  color:rgb(214, 223, 230);
  
 
}
span{ 
  color: rgb(218, 234, 234);
  background: #212121;
  font-size: 16px;
}

.img-navigateur{
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  border-radius: 5px;
  display: block;
  width: 50%;
  margin: auto;
}

.container h1 {
  font-size: 100px;
  text-align: center;
  padding: 3rem;
}

.container h2 {
  padding: 0rem;
  margin: 0 0 3rem 3rem;
  color:rgb(245, 239, 231);
}

p {
  text-align: justify;
  padding: 1rem; 
}


.varColor {
  color: rgb(20, 12, 255);
}
.nomVar {
  color: #61dafb;
}
.nomFonct {
  color: crimson;
}
.ifColor {
  color:coral;
}

.img-thumbnail {
  padding-bottom: 2rem;
  width: 400px;
  margin-bottom: 2rem;
}

.image-code {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: block;
  margin: auto;
  width: 500px;
  text-align: center;
}

.titre h1 {
  display: inline;
}

